[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/black/Desktop/steam.desktop]
row=8
col=0

[0B95FFB862B3BA1E]
row=1
col=0

[C6FEEE86FEEE6E5D]
row=4
col=0

[2021-02-03-13-32-06-00]
row=0
col=0

[01D61D0125B46340]
row=3
col=0

[a17d9cb2-6a96-4934-9fa5-19d461df5caf]
row=2
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/black]
row=7
col=0

